.DS_Store
.jpg
.png
.profiles/
checkpoints/
icc/
dcp/

libraw_enhanced/
metal/
third_party/libraw-install/
SAM3/
SCUNet/
demosaicnet_torch/
Real-ESRGAN/
splitimage/**build/**
splitimage/*.egg*/**

**/__pycache__/**
**/venv3.11.9/**

# pixi environments
.pixi/*
!.pixi/config.toml

# PyInstaller
/build/
/dist/
*.spec
