.DS_Store
.jpg
.png
pixitest/
test/
test_photos/
checkpoints/
icc/
dcp/
luts/
metal/
libraw_enhanced/
third_party/libraw-install/
SAM3/
SCUNet/
demosaicnet_torch/
Real-ESRGAN/
splitimage/**build/**
splitimage/*.egg*/**
**/__pycache__/**
**/venv3.11.9/**
# pixi environments
.pixi/*
!.pixi/config.toml
