kivy
kivymd
git+https://github.com/FacePerceiver/facer.git@main
opencv-contrib-python
scikit-image
rawpy
lensfunpy
pyexiftool
setuptools
wheel
torch
torchvision
watchfiles
screeninfo
pyopencl
numba
thop
einops
timm
matplotlib
git+https://github.com/google-ai-edge/mediapipe.git@main
typer
typer_config
fastapi
omegaconf
etils
huggingface_hub
color-matcher
git+https://github.com/uniuyuni/SAM3.git
git+https://github.com/cszn/SCUNet.git
numpy
pyvips
msgpack
